*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pricing-container{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    @media(min-width: 769px) {
        flex-direction: row;
        gap: 2%;
    }
}

.Home-btn{
    margin: 5%;
    margin-bottom: 15%;
    
    @media(min-width: 769px) {
        margin-bottom: 0;
    }
}
.close-btn{    
    background-color: hsl(0, 4%, 90%);
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 1rem;
    color: hsl(0, 1%, 24%);
    position: absolute;
    top: 5vh;
    right: 5vw;
    box-shadow: 0 0 10px hsl(0, 1%, 24%);

    @media(min-width: 769px) {

    }
}
.close-btn a{
    text-decoration: none;
    color: hsl(0, 1%, 24%);
}
.close-btn:hover{
    background-color: hsl(231, 45%, 71%);
    color: hsl(0, 0%, 100%);
    box-shadow: 0 0 5px hsl(240, 2%, 18%);
}
.pricing-card{
    backdrop-filter: 0.5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    padding: 5%;
    margin-bottom: 5%;
    width: 70%;
    transition: all 0.3s ease-in-out;

    @media(min-width: 769px) {
        width: 30%;
        padding: 2%;
        margin-bottom: 0;
    }
}
.pricing-card:hover{
    background-color: hsl(231, 69%, 60%);
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}
.pricing-card h2{
    margin-bottom: 5%;
    font-size: 1.2rem;
    color: hsl(231, 91%, 8%);
    text-align: left;

    @media(min-width: 769px) {
        margin-bottom: 2%;
    }
}

.pricing-card p{
    margin-bottom: 5%;
    color: hsl(240, 2%, 22%);
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: left;

    @media(min-width: 769px) {
        margin-bottom: 5%;
    }
}
.pricing-card .price{
    font-size: 2.5rem;
    color: hsl(0, 0%, 10%);
    margin-bottom: 20px;

    @media(min-width: 769px) {
        margin-bottom: 2%;
    }
}

.pricing-card .price span{
    font-size: 1.2rem;
    color: hsl(240, 2%, 22%);
}
.items{
    text-align: left;
    margin-bottom: 20px;
}
.items input{
    margin-right: 10px;
}
.items label{
    font-size: 1.2rem;
    color: hsl(240, 2%, 22%);
}
.select-plan-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: hsl(0, 0%, 99%);
    color: rgb(22, 22, 37);
    font-size: 1.2rem;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.select-plan-btn:hover{
    background-color: hsl(240, 36%, 83%);
    color: hsl(231, 85%, 8%);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    scale: 1.05;
    transform: translateY(-2px);
}