*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cards-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    margin-bottom: 5%;

    @media(min-width: 769px) {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0;
    }
}
.cards-head button{
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: hsl(229, 8%, 60%);
    border-bottom: 1px solid hsl(0, 1%, 64%);
    transition: all 0.3s ease-in-out;

    @media(min-width: 769px) {
        font-size: 1.2rem;
    }
}
.cards-head button a{
    text-decoration: none;
    color: hsl(0, 0%, 3%);
}
.cards-head button.active-btn{
    border-bottom: 3px solid hsl(0, 94%, 66%);
    border-width: 30%;
    color: hsl(0, 0%, 4%);
    font-weight: 600;
}
.card{
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;

    @media(min-width: 769px) {
        width: 100%;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
    }
}
.card-image{
    width: 100%;
    position: relative;
    margin-bottom: 15%;
    @media(min-width: 769px) {
        margin-bottom: 5%;
        width: 80%;
    }
}
.card-background{
    width: 80%;
    height: 80%;
    background-color: hsl(231, 69%, 60%);
    border-radius: 0 0 100px 0;
    position: absolute;
    bottom: -15%;
    left: -10%;
    z-index: -1;

    @media(min-width: 769px) {
        width: 80%;
        height: 70%;
        bottom: -10%;
        left: -11%;
        z-index: -1;
        border-radius: 0 0 100px 0;
        
    }
}
.card-image img{
    width: 100%;
    @media(min-width: 769px) {
        width: 80%;
        
    }
}
.card-texts{
    width: 100%;
    @media(min-width: 769px) {
        width: 80%;
        text-align: left;
        
    }
}
.card-texts h2{
    font-size: 1.8rem;
    margin-bottom: 2%;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    @media(min-width: 769px) {
        font-size: 2rem;
        font-weight: 600;
    }
}
.card-texts p{
    font-size: 1.1rem;
    margin-bottom: 5%;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    @media(min-width: 769px) {
        font-size: 1.2rem;
    }
}
.card-texts .More-info-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: hsl(231, 69%, 60%);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.card-texts .More-info-btn:hover{
    background-color: hsl(231, 69%, 50%);
    transform: translateY(-2px) scale(1.02);
}